<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>stream_repeater {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">stream_repeater</a>
      </div>
    </div>

    <div class="container">
      <h1>{{ self.title() }}</h1>
      {% block container %}{% endblock %}
    </div>
  </body>
</html>
