{% extends 'base.html' %}

{% block container %}
<div>
    <h2>Overview</h2>
    Welcome to stream_repeater! This application is designed to make it easy to upload your set and notify services in just a few clicks.
    <br>
    <br>
    <h2>Workflow</h2> 
    If your stream has not yet been converted to an MP3 for upload, please select "Convert to MP3" from the <a href="{{ url_for('stream.stream_home') }}">Stream</a> menu. All information about the stream is available within this menu.<br>
    <br>
    Once it has been converted simply select a service and follow the commands within to utilize their capabilities.
{% endblock %}