{% extends 'base.html' %}

{% block container %}
<div>
  <h1>
    File Management
  </h1>
  <h2>
    <a href="{{ url_for('stream.stream_home') }}">Stream</a><br>
  </h2>
  <br>
  <h1>
    Services
  </h1>
  <h2>
    <a href="{{ url_for('beatport.beatport_home') }}">Beatport</a><br>
    <a href="{{ url_for('mixcloud.mixcloud_home') }}">Mixcloud</a><br>
    <a href="{{ url_for('restream.restream_home') }}">Restream</a><br>
    <a href="{{ url_for('spotify.spotify_home') }}">Spotify</a><br>
    <a href="{{ url_for('telegram.telegram_home') }}">Telegram</a><br>
    <a href="{{ url_for('twitter.twitter_home') }}">Twitter</a><br>
    <a href="{{ url_for('youtube.youtube_home') }}">YouTube</a>
  </h2>
</div>
{% endblock %}